<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Bartender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="wrapper">
      {% block body %} {% endblock %}
    </div>
    <script src="{{url_for('static', filename='js.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
  </body>
</html>
